DATABASE_URL = "mongodb+srv://yuvraj:yuvraj@cluster0.asdfasda.mongodb.net/foodapp"

NEXTAUTH_URL= "http://localhost:3000/"
NEXTAUTH_JWT_SECRET= JWT-SECRET
NEXT_AUTH_SECRET = NEXT-AUTH-SECRET

GOOGLE_CLIENT_ID = 5404324789-b4pl41l2fpd4affrtmfsadfasdfk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= GO234234PX-AfasdfadsnGTSg7RpBTeHj3WFQ
